<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.first_name %>
</p>

<%= link_to 'Edit', edit_group_topic_post_path(@group, @topic, @post) %> |
<%= link_to 'Back', group_topic_posts_path %>
